body {
  margin: 0;
  background-color: #F5F7FB;
  box-sizing: border-box;
  position: relative;
  min-height: 100vh;
  font-family: 'Karla', sans-serif;
  font-weight: 500;
  color: #293264;
}

main {
  position: relative;
  padding: 5rem;
}

body::before {
  content: url('./assets/blob-upper-right.png');
  position: absolute;
  right: 0;
  top: 0;
}

body::after {
  content: url('./assets/blob-lower-left.png');
  position: absolute;
  left: 0;
  bottom: 0;
}

.quizzical-container {
  width: 80%;
  margin: 0 auto;
}

.question-container {
  border-bottom: 1px solid #DBDEF0;
  padding-bottom: 1.2rem;
}

.possible-answers-container {
  display: flex;
  gap: .8rem;
}

.possible-answer {
  border: 1px solid #4D5B9E;
  border-radius: 10px;
  padding: .2em 1em;
}

.possible-answer.correct {
  background: limegreen;
}
