html {
  scroll-behavior: smooth;
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  background-color: #F5F7FB;
  box-sizing: border-box;
  position: relative;
  min-height: 100vh;
  font-family: 'Karla', sans-serif;
  font-weight: 500;
  color: #293264;
}

img {
  max-width: 100%;
}

#root {
  min-height: 100vh;
}

.quizzical {
  position: relative;
  height: 100%;
}

body::before {
  content: url('./assets/blob-upper-right.png');
  position: absolute;
  right: 0;
  top: 0;
}

body::after {
  content: url('./assets/blob-lower-left.png');
  position: absolute;
  left: 0;
  bottom: 0;
}

.setup-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;

}

.setup-container,
.quizzical-container {
  width: 80%;
  max-width: 600px;
  margin: 0 auto;
}

.question-configuration {
  margin-bottom: 1rem;
}

.question-configuration > h2 {
  text-align: center;
}

.preference-wrapper {
  display: grid;
  grid-template-columns: 2fr 3fr;
  font-size: 1.1rem;
  align-items: center;
  margin-bottom: .6rem;
  position: relative;
}

.preference {
  -webkit-appearance: none;
  appearance: none;
  font-family: 'Karla', sans-serif;
  font-size: 1rem;
  padding: .25em .4em;
  background: white;
  border: none;
  outline: none;
  box-shadow: 0 2px 8px -5px #4D5B9E;
  border-radius: 8px;
  cursor: pointer;
}

.preference--select {
  padding-right: 2.5em;
}

.amount {
  width: 3rem;
  margin-left: auto;
  text-align: center;
  transition: all .15s;
  border: 1px solid transparent;
}

.amount:focus {
  border: 1px solid #4D5B9E;
}

/* hide the default arrows for number input */
input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  appearance: none;
  margin: 0;
}

.custom-arrow {
  --size: .4em;
  top: 0;
  right: 0;
  display: block;
  height: 100%;
  position: absolute;
  width: 2rem;
  pointer-events: none;
}

.custom-arrow::before,
.custom-arrow::after {
  content: '';
  display: block;
  position: absolute;
  border-left: var(--size) solid transparent;
  border-right: var(--size) solid transparent;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.custom-arrow::before {
  border-bottom: var(--size) solid #4D5B9E;
  top: 30%;
}

.custom-arrow::after {
  border-top: var(--size) solid #4D5B9E;
  top: 65%;
}

.quizzical-container {
  padding-top: 4rem;
}

.configure-icon {
  display: block;
  max-width: 50px;
  width: auto;
  height: auto;
  position: absolute;
  top: 15px;
  left: 15px;
}

.question-container {
  border-bottom: 1px solid #DBDEF0;
  padding-bottom: 1.2rem;
}

.possible-answers-container {
  display: flex;
  gap: .8rem;
  flex-wrap: wrap;
}

.possible-answer {
  border: 1px solid #4D5B9E;
  border-radius: 10px;
  padding: .2em 1em;
  user-select: none;
  cursor: pointer;
  transition: all .15s ease;
}

.possible-answer:hover {
  box-shadow: 0 4px 12px -8px #4D5B9E;
  opacity: .8;
  transform: scale(1.02);
}

.possible-answer.correct {
  background: limegreen;
}

/* makes text inside answer buttons unselectable by user */
.unselectable {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/* display buttons as static if showAnswers is set to true */
.possible-answer.show-answer:hover {
  box-shadow: unset;
  opacity: unset;
  transform: unset;
  cursor: default;
}

.quizzical-container__controller {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  margin-top: 2rem;
}

.score {
  margin-bottom: .3em;
}

.button-container {
  display: flex;
  gap: 1em;
  margin-bottom: 3rem;
}

.button {
  background-color: #4D5B9E;
  border-radius: 10px;
  border: none;
  color: #F5F7FB;
  font-family: 'Karla', sans-serif;
  font-size: 1.3rem;
  padding: .7em 1.4em;
  transition: all .15s ease;
  cursor: pointer;
}

.button--check-answers {
  margin-bottom: 3rem;
}

.button--inverted {
  background-color: #F5F7FB; 
  color: #4D5B9E;
  border: 1px solid #4D5B9E;
  padding: .7em 1.7em;
}

.button:hover {
  opacity: .9;
  transform: scale(1.05);
  box-shadow: 0 8px 12px -5px #4D5B9E;
}

.button:active {
  transform: scale(.95);
}

@media only screen and (max-width: 700px) {
  .quizzical-container {
    width: 90%;
    padding-top: 2rem;
  }

  .button-container {
    flex-direction: column;
  }
}
